.head-container {
    height: 100px;
    margin-top: 20px;
}

.head-content {
    margin-top: 5px;
    margin-left: 15px;
    text-decoration: none;
}

div ul li {
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
}

a {
    color: black;
    text-decoration: none;
}


div ul li a button {
    background-color: #D2007E;
    color: white;
    border-radius: 20px;
    border: none;
    padding:5px 10px;
}

.account-li {
    display: none;
}

.account-li:hover{
    display: block;
}
